@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 5vw;
  font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #eee;
  text-shadow: 0.06rem 0 0.06rem #f11baa, -0.125rem 0 0.06rem #75fa69;
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}
